Package: no.gezen.toolbox
Name: Toolbox
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Mustafa Gezen
Author: Mustafa Gezen
Section: Tweaks
